body {
    font-family: 'Roboto', sans-serif;
    }


header {
    background-image: url('../img/bg-hero.jpg');
    height: 700px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 10rem;
        }
.h2-e {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 52px;
    color: black;
}

h1{
    padding-top: 400px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 72px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 72px;
}
.carousel-indicators {
    bottom:-55px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #666;
}
.carousel-item img{ width:100%;
}
.h2-m{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 57px;
}
.fondo-lila{
    background-color: slateblue;
}
.fab{
    color: white;
}
.payment-form{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    padding-right: 50px;
}